:root {
  --cl-body: #EFEFFF;
  --cl-bg: #DFDFEF;
  --cl-bg-secondary: #CFCFCF;
  --cl-primary: #3E6EBF;
  --cl-secondary: #5F8FCF;
  --cl-text: #00000F;
  --cl-border: #6AA0FF;
  --cl-muted: #BFBFBF;
  --cl-backdrop: #141414;
  
  --m-0: 0;
  --m-1: 0.5rem;
  --m-2: 1rem;
  --m-3: 1.5rem;
  
  --sz-1: 0.75rem;
  --sz-2: 1rem;
  --sz-3: 1.25rem;
  --sz-4: 1.5rem;
  --sz-5: 2rem;
  --sz-6: 2.75rem;
  --sz-7: 3.75rem;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--cl-body);
  color: var(--cl-text);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
  font-size: calc(var(--sz-4) + 0.35rem);
}

h2 {
  font-size: var(--sz-4);
}

h3 {
  font-size: calc(var(--sz-4) + 0.35rem);
}

h4 {
  font-size: var(--sz-3);
}

h5 {
  font-size: var(--sz-2);
}

h6 {
  font-size: var(--sz-1);
}

noscript {
  background-color: #F0AF00;
  color: white;
  display: block;
  font-weight: bold;
  padding: var(--m-2);
  text-align: center;
  width: 100%;
}

@media (max-width: 368px) {
  :root {
    --m-1: 0.3rem;
    --m-2: 0.6rem;
    --m-3: 1.1rem;
    
    --sz-1: 0.625rem;
    --sz-2: 0.875rem;
    --sz-3: 1.125rem;
    --sz-4: 1.375rem;
    --sz-5: 1.875rem;
    --sz-6: 2.625rem;
    --sz-7: 3.625rem;
  }
}